{% extends "backend/base.html.twig" %}

{% block body %}
    <h1 class="col-lg-10 col-md-10 col-sm-12 mx-auto h3 my-3">
        <i class="fas fa-list"></i>
        Liste des Utilisateurs
        <div class="float-right">
            <a href="/admin/users/new" class="btn btn-primary btn-sm">
                <i class="fas fa-plus-circle"></i>
                Nouvel Utilisateur
            </a>
        </div>
    </h1>
    {% if users is empty %}
        <div class="alert alert-info col-lg-8 col-md-10 col-sm-12 mx-auto">
            <h5 class="alert-heading">
                <i class="fas fa-info-circle"></i>
                Aucun utilisateur
            </h5>
            <div class="alert-body">
                <a href="/admin/users/new" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                    Ajouter
                </a>
            </div>
        </div>
    {% else %}
    <div class="col-lg-10 col-md-10 col-sm-12 mx-auto">
        <table class="table table-striped table-dark rounded text-white">
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th></th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name|raw }}</td>
                        <td>{{ user.firstName|raw }}</td>
                        <td>{{ user.email|raw }}</td>
                        <td>
                            <a href="/admin/users/update/{{ user.id }}" class="mx-1">
                                <i class="fas fa-pen text-white"></i>
                            </a>
                            <a href="/admin/users/remove/{{ user.id }}" class="mx-1">
                                <i class="fas fa-trash text-white"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock body %}