{% extends "backend/base.html.twig" %}

{% block body %}
	<h1 class="col-lg-8 col-md-10 col-12 my-3 mx-auto h3">
		<i class="fas fa-pen">Editer un Profil</i>
	</h1>
	<form action="#" method="POST" class="col-lg-8 col-md-10 col-12 mx-auto mt-2 mb-5">
		<div class="form-row">
			<div class="form-group col-lg-8 col-md-12">
				<input type="text" name="name" id="name" class="form-control" required placeholder="Nom" {% if request.post('name') %} value="{{ request.post('name') }}" {% else %} value="{{ user.name }}" {% endif %}>
				{% if form.errors('name') %}
					<div class="form-errors">
						<span class="badge badge-danger">{{ form.errors('name') }}</span>
					</div>
				{% endif %}
			</div>
			<div class="form-group col-lg-8 col-md-12">
				<input type="text" name="first_name" id="first_name" class="form-control" required placeholder="Prenom" {% if request.post('first_name') %} value="{{ request.post('first_name') }}" {% else %} value="{{ user.firstname }}" {% endif %}>

				{% if form.errors('first_name') %}
					<div class="form-errors">
						<span class="badge badge-danger">{{ form.errors('first_name') }}</span>
					</div>
				{% endif %}
			</div>
			<div class="form-group col-lg-8 col-md-12">
<input type="email" name="email" id="email" class="form-control" required placeholder="email" {% if request.post('email') %} value="{{ request.post('email') }}" {% else %} value="{{ user.email }}" {% endif %}>


				{% if form.errors('email') %}
					<div class="form-errors">
						<span class="badge badge-danger">{{ form.errors('email') }}</span>
					</div>
				{% endif %}
			</div>
			<div class="form-group col-lg-8 col-md-12">
				<input type="password" name="password" id="password" class="form-control" required placeholder="password" {% if request.post('password') %} value="{{ request.post('password') }}" {% endif %}>
				{% if form.errors('password') %}
					<div class="form-errors">
						<span class="badge badge-danger">{{ form.errors('password') }}</span>
					</div>
				{% endif %}
			</div>
			<div class="form-group col-lg-4 col-md-12">
				<input type="submit" value="Editer" class="btn btn-success">
			</div>
		</div>


	</form>
{% endblock body %}

{% block javascripts %}
	<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
	<script src="/assets/js/tinymce.js"></script>
	<script src="/assets/js/form.js"></script>
{% endblock javascripts %}
