{% extends "frontend/base.html.twig" %}

{% block main_content %}
    <h1 class="col-lg-10 col-md-10 col-sm-12 mx-auto h3 my-3">
        Panier
    </h1>
    {% if products is empty %}
        <div class="alert alert-info col-lg-8 col-md-10 col-sm-12 mx-auto">
            <h5 class="alert-heading">
                Panier Vide
            </h5>
        </div>
    {% else %}
    <div class="col-lg-10 col-md-10 col-sm-12 mx-auto">
        <table class="table table-striped table-dark rounded text-white">
            <thead>
                <th>#</th>
                <th></th>
                <th>Nom</th>
                <th>Quantité</th>
                <th></th>
            </thead>
            <tbody>
                {% for item in products %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>
                            {% if item.img is not empty %}
                                <img height="50px" width="50px" src="/upload/img/{{ item.img[0].image.path }}" alt="{{ item.img[0].image.alt }}">
                            {% endif %}
                        </td>
                        <td>{{ item.name|raw }}</td>
                        <td>{{ item.qty|raw }}</td>
                        <td>
                            <a href="/cart/remove/{{ item.id }}" class="mx-1">
                                <i class="fas fa-trash text-white"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         <a href="/cart/removeall" class="mx-auto">
            Supprimer tous les produits<i class="fas fa-trash text-white"></i>
        </a>

        <h1 class="h4 my-3 col-lg-8 mx-1 col-md-10 col-12">
            <i class="fas fa-mail-bulk"></i>
            Envoyer mon Panier
        </h1>
        <form action="#" method="POST" class="col-lg-6 col-md-8 col-12 mx-1 my-3">
            <div class="form-row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="email" class="input-group-text">
                            <i class="fas fa-at"></i>
                        </label>
                    </div>
                    <input type="email" name="email" required id="email" class="form-control" placeholder="Email">
                    {% if form.errors('email') is not empty %}
                        <div class="form-errors">
                            <span class="badge badge-danger">{{ form.errors('email') }}</span>
                        </div>
                    {% endif %}
                <input type="submit" value="Envoyer" class="btn btn-success">
                </div>
            </div>
        </form>







    </div>
    {% endif %}
{% endblock main_content %}