@charset "UTF-8";
/* =============================================================================
   Base
   ========================================================================== */
html, body {
  height: 100%;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
}

body, button, input, select, textarea {
  font-family: "Droid Sans", sans-serif;
  color: #666666;
}

body > iframe, #_atssh {
  display: none !important;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #71ae3b;
  text-decoration: none;
}

a:visited {
  color: #71ae3b;
  text-decoration: underline;
}

a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

a.btn:visited {
  color: #ffffff;
  text-decoration: underline;
}

a:focus {
  outline: none;
  outline: none;
  outline-offset: 0px;
}

a:hover,
a:active {
  outline: none;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

label {
  cursor: pointer;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 16px 4px 25px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #71ae3b;
  background: url("../images/button-arrow.png") no-repeat scroll 11px 12px;
  background-color: #bede9c;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #71ae3b;
  *border: 0;
  border-bottom-color: #71ae3b;
  text-transform: uppercase;
  *margin-left: .3em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #71ae3b;
  background-color: #ffffff;
  *background-color: #ffffff;
  text-decoration: none;
  background: url("../images/button-arrow-over.png") no-repeat scroll 11px 12px #ffffff;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
   Headings
   ========================================================================== */
h1 {
  color: #000000;
  font-family: "Raleway", Sans-Serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 34px;
  margin: 0 27px 15px 37px;
}

h2 {
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 28px;
  font-weight: 600;
  padding: 10px 0 2px 0;
  margin: 0;
}

h3 {
  font-family: "Droid Sans", sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 0 2px 0;
  margin: 0;
}

h4 {
  font-family: "Droid Sans", sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 20px;
  font-weight: 400;
  padding: 10px 0 2px 0;
  margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

.contentPage ul, .contentPage ol {
  margin: 0;
  padding: 0 0 10px 40px;
}

.contentPage li {
  padding: 0 0 1px 0;
}

.contentPage p {
  margin: 0;
  padding: 0 0 5px 0;
}

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.bull {
  margin: 0 5px;
}

.hitCounter {
  display: none;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

select {
  height: 30px;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  h1 {
    margin: 0 0px 15px 0px;
  }
}
/* =============================================================================
   Header
   ========================================================================== */
header {
  position: relative;
  z-index: 1000;
}

.logo {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 300;
}

.topHeader {
  margin: 0 0 0 0px;
  text-align: right;
}

.topHeaderHolder {
  min-height: 120px;
}

.searchForm {
  width: 300px;
  padding-top: 11px;
  text-align: right;
  display: inline-block;
}

.searchForm label {
  display: none;
}

.searchForm input[type="submit"] {
  border: none;
  background-color: #eef8f7;
  background-image: -moz-linear-gradient(top, #eef8f7, #bede9c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eef8f7), to(#bede9c));
  background-image: -webkit-linear-gradient(top, #eef8f7, #bede9c);
  background-image: -o-linear-gradient(top, #eef8f7, #bede9c);
  background-image: linear-gradient(to bottom, #eef8f7, #bede9c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6ebeb', endColorstr='#ffb5dada', GradientType=0);
  color: #71ae3b;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  padding: 0px 10px 0px;
  height: 31px;
  text-transform: lowercase;
  margin: 0px;
  border: solid 1px #d1d1d1;
}

.searchForm input[type="submit"]:hover {
  border: none;
  background-color: #bede9c;
  background-image: -moz-linear-gradient(top, #bede9c, #eef8f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bede9c), to(#eef8f7));
  background-image: -webkit-linear-gradient(top, #bede9c, #eef8f7);
  background-image: -o-linear-gradient(top, #bede9c, #eef8f7);
  background-image: linear-gradient(to bottom, #bede9c, #eef8f7);
  background-repeat: repeat-x;
  border: solid 1px #d1d1d1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb5dada', endColorstr='#ffd6ebeb', GradientType=0);
}

.searchForm input[type="text"] {
  border: solid 1px #d1d1d1;
  border-right: none;
  margin: 0px;
  padding: 0px 5px 0px 28px;
  height: 31px;
  width: 203px;
  vertical-align: middle;
  background-color: #ffffff;
  background: #ffffff url("../images/searchBack.gif") no-repeat 0px 0px;
}
.searchForm input[type="text"]:focus {
  outline: none;
}

.topNavigation {
  display: inline-block;
}

.topNavigation ul {
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
}

.topNavigation ul li {
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 8px;
}

.topNavigation li:before {
  content: "• ";
  margin-right: 8px;
  color: #95d2ca;
}

.topNavigation li:first-child:before {
  content: " ";
  margin: 0 10px;
  color: #95d2ca;
}

.topNavigation ul li a, .topNavigation ul li a:visited {
  font-family: 'Droid Sans', sans-serif;
  color: #656565;
  text-decoration: none;
}

.topNavigation ul li a:hover {
  font-family: 'Droid Sans', sans-serif;
  color: #656565;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .logo {
    height: auto;
    position: relative;
    left: auto;
    top: auto;
    z-index: 300;
  }
}
.navbar-nav {
  position: static;
}
.navbar-nav > li > a {
  font-family: "Raleway", Sans-Serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #71ae3b;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: -15px;
}
.navbar-nav > li.last > a {
  padding-rigth: 0px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  color: #71ae3b;
}

.navbar-toggle {
  background-color: #ffffff;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  float: none;
  z-index: 999;
}
.navbar-toggle .icon-bar {
  background-color: #71ae3b;
  width: 40px;
  height: 3px;
  margin-bottom: 10px;
}

.navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}

.dropdown-menu {
  border-top: none;
}
.dropdown-menu li {
  padding: 0px;
  margin: 0px;
  border-bottom: dotted 1px #71ae3b;
}
.dropdown-menu li > a {
  display: block;
  padding: 7px 17px;
}
.dropdown-menu li:hover {
  background-color: #bede9c;
}
.dropdown-menu li:hover > a {
  background: transparent;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #bede9c;
  color: #000000;
}

/* =============================================================================
   Carousel
   ========================================================================== */
.carrouselBlock {
  padding-left: 0;
  position: relative;
  z-index: 80;
  display: block;
  height: auto;
  width: 100%;
  overflow: hidden;
}

#carousel .slide {
  position: relative;
  display: block;
  float: left;
}

#carousel .slide {
  width: 100%;
  height: auto;
  background-position: left top;
  background-size: cover;
  margin-left: 37px;
}

#carousel .slide img {
  margin-left: 37px;
}

#carousel .carouselTitle {
  position: absolute;
  left: 0px;
  top: 115px;
  height: 100px;
  width: 553px;
  display: block;
}

.carouselTitle .first {
  background-color: #000000;
  color: #ffffff;
  display: block;
  height: 41px;
  font-family: "Raleway", Sans-Serif;
  font-size: 27px;
  font-weight: 500;
  margin: 0;
  padding: 9px 0 0 60px;
}

.carouselTitle .second {
  background-color: #ffffff;
  color: #000000;
  display: block;
  height: 41px;
  font-family: "Raleway", Sans-Serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 0 60px;
}

#pager {
  position: absolute;
  left: 50px;
  bottom: 10px;
}

#pager a {
    /*border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    border:2px solid #fff;*/
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 12px;
  height: 11px;
  margin: 0 10px 0 0;
  background: transparent url("../images/carousel_pager.png") no-repeat 0 -11px;
}

#pager a:hover {
  background: transparent url("../images/carousel_pager.png") no-repeat 0 0px;
}

#pager a span {
  display: none;
}

#pager a.selected {
  background: transparent url("../images/carousel_pager.png") no-repeat 0 0px;
}

/* =============================================================================
   Content
   ========================================================================== */
.contentBlock {
  position: relative;
  z-index: 200;
}

.greenHolder {
  background-color: #71ae3b;
  padding-left: 37px;
  position: relative;
  padding: 28px 47px 37px 37px;
}

.greenHolderContent {
  background-color: #71ae3b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 28px 47px 37px 37px;
  margin: 0 27px 15px 0;
}

.greenHolderContent a, .greenHolderContent a:visited, .greenHolderContent a:hover {
  color: #ffffff;
}

.overviewPage .greenHolderContent {
  padding: 15px;
  margin: 0 27px 15px 0;
}

.contentPage {
  margin: 0 27px 0 37px;
}

.greenBlock {
  width: 37px;
  height: 37px;
  top: -37px;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: #71ae3b;
}

.main {
  margin-left: 0;
}

.segmentTitle {
  margin: 40px 25px 10px 37px;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #000000;
  border-bottom: solid 1px #71ae3b;
}

.more {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 7px 0 7px 14px;
  color: #000000;
  font-family: "Droid Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.more a, .more a:visited {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.more a:hover {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #666666;
}

.imageBlock {
  margin: 0 27px 0 37px;
  min-height: 37px;
  position: relative;
}

.imageBlock .greenBlock {
  top: auto;
  bottom: -0px;
  left: -37px;
}

.searchResultHolder p {
  margin: 0 27px 0 37px;
}

.sisea-highlight {
  background-color: #71ae3b;
}

.form-horizontal label {
  font-size: 13px;
}

.contentPage figure {
  border: 1px solid #d1d1d1;
  padding: 3px;
  float: left;
  width: 230px;
  margin-right: 39px;
}
.contentPage figure img {
  max-width: 100%;
  height: auto;
}

.contentPage .contentLeft {
  padding-bottom: 25px;
  min-height: 111px;
}

.contentPage table {
  width: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .greenHolderContent {
    padding: 20px;
    margin: 0 0px 15px 0;
  }

  .contentPage {
    text-align: left;
    margin: 0px;
  }
  .contentPage figure {
    float: none;
    width: auto;
  }
  .contentPage figure img {
    max-width: 100%;
    height: auto;
  }
  .contentPage ul, .contentPage ol {
    padding: 0 0 10px 20px;
  }
}
/* =============================================================================
   pageInfo
   ========================================================================== */
.pageInfoHolder {
  background-color: #f3f3f3;
  padding: 10px 18px 10px 18px;
  margin: 20px 0;
}

.pageInfoHolder:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.pageInfoHolder .pageDate {
  float: left;
  width: 300px;
  border-bottom: dotted 1px #f3f3f3;
  height: 23px;
  font-size: 12px;
}

.pageInfoHolder .pageCategory {
  margin: 0 0 0 300px;
  text-align: right;
  border-bottom: dotted 1px #f3f3f3;
  height: 23px;
  font-size: 12px;
}

.pageInfoHolder .pageEvent {
  height: 23px;
  font-size: 12px;
}

.pageInfoHolder .blog {
  border-bottom: none;
}

.pageInfoHolder .pageBlog {
  border-bottom: dotted 1px #f3f3f3;
  height: 23px;
  font-size: 12px;
}

.pageInfoHolder .pageTags a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #71ae3b;
  text-transform: uppercase;
  padding: 3px 15px;
  color: #ffffff;
  margin: 15px 8px 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
}

/* =============================================================================
   article
   ========================================================================== */
article {
  padding: 25px 27px 0px 37px;
}

article .line {
  border-top: dotted 1px #71ae3b;
  height: 1px;
  font-size: 1px;
}

article:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.latestBlock article:hover {
  background-color: none !important;
}

article:hover {
  background-color: #bede9c;
}

/* overview 2 */
article figure {
  border: 1px solid #e5e5e5;
  padding: 3px;
  float: left;
  width: 151px;
  height: 73px;
}

article .articleText {
  margin: 0 0 0 180px;
  padding-bottom: 25px;
  min-height: 73px;
}

/* overview 3 */
article.rightImage figure {
  border: 1px solid #e5e5e5;
  padding: 3px;
  float: right;
  width: 151px;
  height: 73px;
}

article.rightImage .articleText {
  margin: 0 180px 0 0;
  padding-bottom: 25px;
  min-height: 73px;
}

/* overview 4 */
article.big figure {
  border: 1px solid #e5e5e5;
  padding: 3px;
  float: left;
  width: 230px;
  height: 111px;
}

article.big .articleText {
  margin: 0 0 0 269px;
  padding-bottom: 25px;
  min-height: 111px;
}

/* overview 6 */
article.rightImageBig figure {
  border: 1px solid #e5e5e5;
  padding: 3px;
  float: right;
  width: 230px;
  height: 111px;
}

article.rightImageBig .articleText {
  margin: 0 269px 0 0;
  padding-bottom: 25px;
  min-height: 111px;
}

/* overview 6 */
article .articleDate {
  padding: 3px;
  float: left;
  width: 90px;
  height: 60px;
  font-size: 12px;
}

article .articleDateText {
  margin: 0 0 0 100px;
  padding-bottom: 25px;
  min-height: 60px;
}

/* overview 7 */
article.rightDate .articleDate {
  padding: 3px;
  float: right;
  width: 90px;
  height: 60px;
  font-size: 12px;
}

article.rightDate .articleDateText {
  margin: 0 100px 0 0;
  padding-bottom: 25px;
  min-height: 60px;
}

/* overview 8 */
article.memberArticle figure {
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
}

/* overview 1 */
article .articleWide, article.rightImage .articleWide, article.rightImageBig .articleWide, article.big .articleWide {
  margin: 0 0 0 0px;
  padding-bottom: 25px;
  min-height: inherit;
}

article.last .articleText {
  border: none;
}

article .articleText h3 {
  margin: 0;
  padding: 0 0 3px 0;
  color: #000000;
  font-family: "Droid Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

article .articleText h3 a, article .articleText h3 a:visited {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
}

article:hover .articleText h3 a, article:hover .articleText h3 a:visited {
  text-decoration: none;
  color: #71ae3b;
  font-size: 16px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
}

article .articleText h3 a:hover {
  text-decoration: none;
  color: #71ae3b;
  font-size: 16px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
}

article .articleText p {
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: "Droid Sans", sans-serif;
  font-weight: 300;
  line-height: 18px;
  font-size: 13px;
}

article .pageInfo {
  font-size: 12px;
  padding-top: 3px;
}

article .pageCategory {
  font-size: 12px;
  padding-top: 3px;
  color: #71ae3b;
}

article:last-child .line {
  border-top: none;
}

article .address {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 200px;
  margin-right: 50px;
}

article .addressInfo {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@media only screen and (max-width: 768px) {
  article {
    padding: 25px 0 0 0;
  }

  article figure {
    float: none;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  article .articleText {
    margin: 0px 0 0 0px;
    padding-bottom: 25px;
    min-height: 73px;
  }
}
/* =============================================================================
   filters
   ========================================================================== */
.filterHolder {
  border-top: solid 1px #000000;
  border-bottom: dotted 1px #71ae3b;
  padding: 10px 0;
  margin: 0 27px 0 37px;
}

.filterHolder2 {
  border-bottom: dotted 1px #71ae3b;
  padding: 10px 0;
  margin: 0 27px 0 37px;
}

.overviewFilter {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 20px;
}

.overviewFilter:nth-child(3n+3) {
  margin-right: 0;
}

.overviewFilter span {
  display: block;
  padding: 3px 0;
}

.overviewFilter select {
  width: 200px;
}

.paginationHolder {
  text-align: right;
  padding-top: 10px;
  margin: 0 27px 0 37px;
}

.paginationHolder span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border: solid 1px #71ae3b;
  width: 23px;
  text-align: center;
  padding: 3px 0px;
  margin-left: 10px;
  font-size: 11px;
}

.paginationHolder span.active {
  background-color: #71ae3b;
  color: #ffffff;
}

.paginationHolder span:hover {
  background-color: #71ae3b;
  color: #ffffff;
}

.paginationHolder span:hover a, .paginationHolder span:hover a:hover, .paginationHolder span:hover a:visited {
  color: #ffffff;
  display: block;
}

.alphaHolder {
  text-align: center;
  padding-top: 10px;
  margin: 0 0px 0 0px;
}

.alphaHolder span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border: solid 1px #71ae3b;
  width: 20px;
  text-align: center;
  padding: 3px 0px;
  margin-left: 4px;
  font-size: 10px;
}

.alphaHolder span.active {
  background-color: #71ae3b;
  color: #ffffff;
}

.alphaHolder span:hover {
  background-color: #71ae3b;
  color: #ffffff;
}

.alphaHolder span:hover a, .alphaHolder span:hover a:hover, .alphaHolder span:hover a:visited {
  color: #ffffff;
  display: block;
}

.overviewLine {
  border-bottom: solid 1px #000000;
  margin: 0 27px 0 37px;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}

.resourceHolder:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.mapHolder {
  margin: 0 27px 0 37px;
}

.noResults {
  margin-left: 37px;
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {
  .filterHolder {
    margin: 0;
  }

  .filterHolder2 {
    margin: 0;
  }

  .overviewLine {
    margin: 0;
  }

  .mapHolder {
    margin: 0px;
  }

  .noResults {
    margin-left: 0px;
  }
}
/* =============================================================================
   Startpage
   ========================================================================== */
.startPage h1 {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Sans-Serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.startPage p {
  color: #000000;
  font-weight: 300;
  font-family: "Raleway", Sans-Serif;
  line-height: 34px;
  padding: 4px 0 23px 0;
  border-bottom: solid 1px #000000;
  font-size: 25px;
  margin: 0;
}

.startBlockHolder {
  margin: 20px 0 0 0;
}

.startBlockHolder:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.startBlock {
  padding: 25px 27px 25px 0;
}

.startBlock:hover {
  background-color: #bede9c;
}

.startBlockImage {
  margin-left: 37px;
  width: 29px;
  float: left;
}

.startBlockText {
  margin: 0 0 0 80px;
}

.startBlockText h2 {
  margin: 0;
  padding: 0 0 3px 0;
  font-size: 14px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #000000;
  line-height: 16px;
}

.startBlockText p {
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: "Droid Sans", sans-serif;
  font-weight: 300;
  line-height: 18px;
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .startNews .segmentTitle {
    margin: 0px;
  }
}
/* =============================================================================
   leden carousel
   ========================================================================== */
.memberLogos {
  margin: 0px 25px 0px 37px;
}

.memberLogos .segmentTitle {
  margin: 40px 0px 10px 0px;
}

.logo_carousel {
  padding: 15px 40px 26px 30px;
  margin: 0;
  position: relative;
  overflow: hidden;
  border-bottom: dotted 1px #71ae3b;
}

.logo_carousel img {
  padding: 0 0px;
  margin: 0 5px;
  display: block;
  float: left;
  cursor: pointer;
}

.logo_carousel a.prev {
  background: url(../images/carousel_left.gif) no-repeat transparent;
  width: 29px;
  height: 29px;
  display: block;
  position: absolute;
  left: 0px;
  top: 35px;
}

.logo_carousel a.next {
  background: url(../images/carousel_right.gif) no-repeat transparent;
  width: 29px;
  height: 29px;
  display: block;
  position: absolute;
  right: 0px;
  top: 35px;
}

.logo_carousel a.prev.disabled, .logo_carousel a.next.disabled {
  cursor: default;
}

.logo_carousel a.prev span, .logo_carousel a.next span {
  display: none;
}

@media only screen and (max-width: 768px) {
  .memberLogos {
    margin: 0px;
  }
}
/* =============================================================================
   Breadcrumbs
   ========================================================================== */
.breadcrumbs {
  color: #666666;
  font-family: "Droid Sans", sans-serif;
  font-size: 12px;
  height: 41px;
  line-height: 41px;
  padding: 0;
  margin: 0 0px 31px 37px;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #71ae3b;
  position: relative;
  z-index: 100;
}

.breadcrumbs span {
  float: left;
  margin: 0 10px 0 0;
}

.breadcrumbs span a:before {
  content: "› ";
  margin: 0 10px 0 0;
}

.breadcrumbs span:first-child a:before {
  content: "";
  margin: 0;
}

.breadcrumbs span a, .breadcrumbs span a:visited {
  color: #8f8f8f;
  text-decoration: none;
}

.breadcrumbs span a:hover {
  color: #71ae3b;
}

@media only screen and (max-width: 768px) {
  .breadcrumbs {
    margin: 0 0px 31px 0px;
  }
}
/* =============================================================================
   Widgets
   ========================================================================== */
.widget {
  margin-bottom: 30px;
}

.widget:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.widget .segmentTitle {
  margin: 40px 0px 10px 0px;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #000000;
  border-bottom: solid 1px #71ae3b;
}

.widget a.moreLink, .widget a.moreLink:visited {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 5px 0 7px 14px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-decoration: none;
}

.widget a.moreLink:hover {
  text-decoration: underline;
}

/* =========================================
	Header share widget
============================================*/
.shareWidget {
  padding: 10px 5px 6px 5px;
  margin-top: 10px;
}

.shareWidget:hover {
  background-color: #f3f3f3;
}

.socialShareTitle {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: top;
  height: 16px;
  margin-right: 6px;
}

.shareWidget a, .shareWidget a:visited {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 16px;
  margin: 0;
  width: 16px;
}

.shareWidget a.socialShareFacebook, .shareWidget a.socialShareFacebook:visited {
  background: url("../images/socialShareFacebook.gif") no-repeat scroll 0 0 transparent;
}

.shareWidget a.socialShareTwitter, .shareWidget a.socialShareTwitter:visited {
  background: url("../images/socialShareTwitter.gif") no-repeat scroll 0 0 transparent;
}

.shareWidget a.socialShareLinkedin, .shareWidget a.socialShareLinkedin:visited {
  background: url("../images/socialShareLinkedin.gif") no-repeat scroll 0 0 transparent;
}

.shareWidget a.socialSharePintrest, .shareWidget a.socialSharePintrest:visited {
  background: url("../images/socialSharePintrest.gif") no-repeat scroll 0 0 transparent;
}

.shareWidget a.socialShareMail, .shareWidget a.socialShareMail:visited {
  background: url("../images/socialShareMail.gif") no-repeat scroll 0 0 transparent;
}

.shareWidget a.socialShareGoogle, .shareWidget a.socialShareGoogle:visited {
  background: url("../images/shareContentGoogle.png") no-repeat scroll 0 0 transparent;
}

.shareWidget a:hover {
  background-position: 0 -16px;
}

/* =========================================
	login widget
============================================*/
.loginLogin .form-horizontal .input-label {
  text-align: left;
  font-size: 12px;
  color: #666666;
  width: 100px;
  font-weight: 300;
  float: left;
}

.loginLogin .form-horizontal .inputHolder {
  margin-left: 100px;
  text-align: right;
}

.loginLogin .form-horizontal input {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
  padding: 5px;
}

.loginLogin .form-horizontal .login-group {
  height: 50px;
}

.loginLogin .form-horizontal .buttonHolder .controls {
  text-align: left;
}

.loginForm .loginMessage p.error {
  color: #b94a48;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #f2dede;
  margin-bottom: 10px;
}

.loginMessage p.error {
  color: #b94a48;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #f2dede;
  margin-bottom: 10px;
}

p.success {
  color: #71ae3b;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #dff0d8;
  margin-bottom: 10px;
}

.errorBorder {
  border: solid 1px #b94a48;
  margin-right: 95px;
  background-color: #f2dede;
}

/* =========================================
	events widget
============================================*/
.events {
  margin-top: 11px;
}

.events ul {
  list-style: none outside none;
  margin: 3px 0 0 0;
  padding: 0;
}

.events li:before, .events li:after {
  content: " ";
  display: table;
}

.events li:after {
  clear: both;
}

.events li {
  border-bottom: 1px dotted #71ae3b;
  padding: 11px 0 8px 0;
}

.events li:hover {
  background-color: #bede9c;
}

.eventsDate {
  color: #71ae3b;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 12px;
  padding: 4px 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
  font-weight: bold;
  height: 40px;
}

.eventsDate p {
  margin: 0;
}

.eventsDate strong {
  font-size: 18px;
  font-weight: bold;
}

.eventsDescription {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 0 48px;
}

.eventsDescription h5 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 3px;
}

.eventsDescription h5 a, .eventsDescription h5 a:visited, .eventsDescription h5 a:hover {
  color: #000000;
  text-decoration: none;
}

.eventsDescription p {
  margin: 0;
}

.eventsMore {
  color: #9e1620;
  background: transparent url("../images/red_arrow.gif") no-repeat 2px 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 15px 0 0 16px;
  text-align: left;
}

.eventsMore a, .eventsMore a:visited, .eventsMore a:hover {
  color: #9e1620;
  text-decoration: none;
}

/* =========================================
	twitter widget
============================================*/
.twitter {
  margin-top: 11px;
}

.twitter ul {
  list-style: none outside none;
  margin: 3px 0 0 0;
  padding: 0;
}

.twitter li:before, .twitter li:after {
  content: " ";
  display: table;
}

.twitter li:after {
  clear: both;
}

.twitter li {
  border-bottom: 1px dotted #71ae3b;
  padding: 11px 0 8px 0;
  font-size: 12px;
}

.twitter li:hover {
  background-color: #bede9c;
}

.twitter .segmentTitle .twitterAccount {
  text-transform: none;
  color: #71ae3b;
}

.twitter a, .twitter a:visited {
  text-decoration: none;
  font-size: 12px;
}

/* =========================================
	banner widget
============================================*/
.infoBanner .infoImage {
  border: 1px solid #e5e5e5;
  padding: 4px;
}

.infoBanner .infoTitle {
  margin: 0px 0px 0px 0px;
  padding: 18px 0 6px 2px;
  font-size: 14px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #000000;
}

.infoBanner p {
  color: #666666;
  font-size: 12px;
  line-height: 17px;
  margin: 0px;
  padding: 0px 0 0 1px;
}
.infoBanner img {
  max-width: 100%;
  height: auto;
}

/* =========================================
	related widget
============================================*/
.relatedWidget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.relatedWidget ul li {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 7px 0 7px 14px;
  border-bottom: dotted 1px #71ae3b;
}

.relatedWidget ul li:hover {
  background-color: #bede9c;
}

.relatedWidget ul li a, .relatedWidget ul li a:visited {
  text-decoration: none;
  color: #666666;
}

.relatedWidget ul li a:hover {
  text-decoration: none;
  color: #000000;
}

.relatedWidget ul li:hover a, .relatedWidget ul li:hover a:visited {
  text-decoration: none;
  color: #000000;
}

/* =========================================
   most viewed widget
============================================*/
.mostViewedWidget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mostViewedWidget ul li {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 7px 0 7px 14px;
  border-bottom: dotted 1px #71ae3b;
}

.mostViewedWidget ul li:hover {
  background-color: #bede9c;
}

.mostViewedWidget ul li a, .mostViewedWidget ul li a:visited {
  text-decoration: none;
  color: #666666;
}

.mostViewedWidget ul li a:hover {
  text-decoration: none;
  color: #000000;
}

.mostViewedWidget ul li:hover a, .mostViewedWidget ul li:hover a:visited {
  text-decoration: none;
  color: #000000;
}

/* =========================================
   documents widget
============================================*/
.documentsWidget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.documentsWidget ul li {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 7px 0 7px 14px;
  border-bottom: dotted 1px #71ae3b;
}

.documentsWidget ul li:hover {
  background-color: #bede9c;
}

.documentsWidget ul li a, .documentsWidget ul li a:visited {
  text-decoration: none;
  color: #666666;
}

.documentsWidget ul li a:hover {
  text-decoration: none;
  color: #000000;
}

.documentsWidget ul li:hover a, .documentsWidget ul li:hover a:visited {
  text-decoration: none;
  color: #000000;
}

/* =========================================
   recent reactions widget
============================================*/
.recentReactionsWidget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.recentReactionsWidget ul li {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 7px 0 7px 14px;
  border-bottom: dotted 1px #71ae3b;
}

.recentReactionsWidget ul li:hover {
  background-color: #bede9c;
}

.recentReactionsWidget ul li a, .recentReactionsWidget ul li a:visited {
  text-decoration: none;
  color: #666666;
}

.recentReactionsWidget ul li a:hover {
  text-decoration: none;
  color: #000000;
}

.recentReactionsWidget ul li:hover a, .recentReactionsWidget ul li:hover a:visited {
  text-decoration: none;
  color: #000000;
}

.recentReactionsWidget .author {
  font-weight: 600;
  margin-right: 10px;
}

.recentReactionsWidget .ago {
  font-size: 11px;
  font-style: italic;
  display: block;
}

/* =========================================
	latest post widget
============================================*/
.latestPostsWidget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.latestPostsWidget ul li {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 7px 0 7px 14px;
  border-bottom: dotted 1px #71ae3b;
}

.latestPostsWidget ul li:hover {
  background-color: #bede9c;
}

.latestPostsWidget ul li a, .latestPostsWidget ul li a:visited {
  text-decoration: none;
  color: #666666;
}

.latestPostsWidget ul li a:hover {
  text-decoration: none;
  color: #000000;
}

.latestPostsWidget ul li:hover a, .latestPostsWidget ul li:hover a:visited {
  text-decoration: none;
  color: #000000;
}

/* =========================================
	newsletter widget
============================================*/
.newsletterWidget label, .newsletterWidget p {
  font-size: 12px;
}

.newsletterWidget input {
  margin-bottom: 20px;
}

.newsletterWidget .error {
  color: #b94a48;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #f2dede;
  margin-bottom: 10px;
}

.newsletterWidget .success {
  color: #71ae3b;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #dff0d8;
  margin-bottom: 10px;
}

/* =========================================
	member widget
============================================*/
.memberWidget .memberInfo {
  color: #000000;
  font-weight: 400;
}

.memberWidget .memberCount {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding: 10px 0;
  color: #71ae3b;
}

.memberWidget p {
  font-size: 12px;
  font-weight: 300;
}

/* =========================================
	Follow Us widget
============================================*/
.followUsWidget ul {
  list-style: none outside none;
  margin: 3px 0 0 0;
  padding: 0;
}

.followUsWidget li:before, .events li:after {
  content: " ";
  display: table;
}

.followUsWidget li:after {
  clear: both;
}

.followUsWidget li {
  border-bottom: 1px dotted #71ae3b;
  padding: 4px 0 4px 0;
}

.followUsWidget li:hover {
  background-color: #bede9c;
}

.followImage {
  color: #71ae3b;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
  font-weight: bold;
  height: 24px;
}

.followLink {
  color: #717171;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin: 0 0 0 48px;
}

.followLink a, .followLink a:visited, .followLink a:hover {
  color: #000000;
  text-decoration: none;
}

/* =========================================
	blog page
============================================*/
.post-form {
  border-top: 1px solid #000000;
  margin: 20px 27px 0 37px;
  padding-top: 20px;
}

.quip article .quip-comment-body {
  border-bottom: 1px dotted #71ae3b;
  padding-bottom: 10px;
}

.quip article .quip-comment-author {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 20px;
}

.quip article .quip-comment-createdon {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 11px;
  font-style: italic;
}

.quip article .quip-comment-text {
  margin: 0 0 0 100px;
  font-size: 12px;
}

.quip ol.quip-pagination {
  list-style: none;
  margin: 20px 27px 10px 37px;
  text-align: right;
}

.quip ol.quip-pagination li {
  border: 1px solid #71ae3b;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 11px;
  margin-left: 10px;
  padding: 3px 0;
  text-align: center;
  width: 23px;
}

.quip ol.quip-pagination li.quip-page-current {
  background-color: #71ae3b;
  color: #ffffff;
}

/* =============================================================================
   Google maps
   ========================================================================== */
.gmap3 {
  *border: 1px solid #e5e5e5;
  padding: 0px;
  width: 100%;
  height: 600px;
  margin: 10px 0px 20px 0px;
}

.gmap3 img {
  max-width: none;
}

.gmapMember {
  *border: 1px solid #e5e5e5;
  padding: 0px;
  width: 100%;
  height: 250px;
  margin: 10px 0px 20px 0px;
}

.gmapMember img {
  max-width: none;
}

.location-company {
  display: block;
  font-weight: 600;
}

/* =============================================================================
   Contact Form
   ========================================================================== */
#contactForm .error {
  color: #b94a48;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #f2dede;
  margin: 10px 0 10px 180px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.contact .error {
  color: #b94a48;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #f2dede;
  margin: 10px 0 10px 180px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#recaptcha_widget_div {
  margin-bottom: 20px;
}

#contactForm #recaptcha_widget_div {
  margin-left: 180px;
}

input[type="text"].warning, textarea.warning {
  border: solid 1px #b94a48;
  background-color: #f2dede;
}

span.requiredLabel {
  margin: 0px 2px;
  font-size: 10px;
}

.form-horizontal .control-label {
  text-align: left;
}

/* =============================================================================
   member map navigation
   ========================================================================== */
#overviewNavigationMapBlock {
  border-bottom: 1px dotted #71ae3b;
  margin-bottom: 10px;
}

#overviewNavigationMapBlock .item {
  border: 1px dotted #71ae3b;
  border-bottom: 1px dotted transparent;
  padding: 5px 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: -1px;
}

#overviewNavigationMapBlock .active {
  border: 1px dotted #71ae3b;
  background-color: #71ae3b;
  border-bottom: 1px solid #ffffff;
  padding: 5px 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: -1px;
}

#overviewNavigationMapBlock .item:hover {
  border: 1px dotted #71ae3b;
  background-color: #71ae3b;
  border-bottom: 1px solid #ffffff;
  padding: 5px 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: -1px;
}

#overviewNavigationMapBlock .item a, #overviewNavigationMapBlock .item a:hover, #overviewNavigationMapBlock .item a:visited {
  color: #71ae3b;
  text-decoration: none;
}

#overviewNavigationMapBlock .active a, #overviewNavigationMapBlock .active a:hover, #overviewNavigationMapBlock .active a:visited {
  color: #ffffff;
  text-decoration: none;
}

#overviewNavigationMapBlock .item:hover a, #overviewNavigationMapBlock .item:hover a:hover, #overviewNavigationMapBlock .item:hover a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* =============================================================================
   member detail page
   ========================================================================== */
.memberDetailLogo {
  float: right;
  margin: 0 0 20px 20px;
  border: 1px solid #e5e5e5;
  padding: 3px;
}

#formbuilder {
  margin: 0 27px 0 37px;
}

/* =============================================================================
   gallery
   ========================================================================== */
.galleryEnd {
  clear: both;
}

.gal-image img {
  width: 100%;
  height: auto;
}

.gal-item-active {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
}

/* =============================================================================
   Footer
   ========================================================================== */
footer {
  margin: 37px 0 0 0;
}
footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

footer .footerLogo {
  height: 72px;
}

.footerNavigation {
  border-top: 1px solid #000000;
}

.footerNavigationList ul {
  margin: 11px 0 0px 0;
}

.footerNavigation h5 {
  margin: 0px 0 0px 0;
  padding: 0px 0;
  font-size: 14px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #000000;
}

.footerNavigationBlock h5 {
  margin: 20px 0 0px 0;
  padding: 10px 0;
}

.footerNavigationBlock ul li {
  background: transparent url("../images/listArrow.png") no-repeat 0 13px;
  padding: 7px 0 7px 14px;
  border-bottom: dotted 1px #71ae3b;
}

.footerNavigationBlock ul li:hover {
  background-color: #bede9c;
}

.footerNavigationBlock ul li a, .footerNavigationBlock ul li a:visited {
  text-decoration: none;
  color: #666666;
}

.footerNavigationBlock ul li a:hover {
  text-decoration: none;
  color: #000000;
}

.footerNavigationBlock ul li:hover a, .footerNavigationBlock ul li:hover a:visited {
  text-decoration: none;
  color: #000000;
}

.footerNavigationList ul li {
  background: transparent url("../images/listArrow.png") no-repeat 0 20px;
  padding: 16px 0 16px 14px;
}

.footerNavigationList ul li a, .footerNavigationList ul li a:visited {
  text-decoration: none;
  color: #000000;
}

.footerNavigationList ul li h5 a:hover {
  text-decoration: none;
  color: #000000;
}

.footerNavigationList ul li:hover a, .footerNavigationList ul li:hover a:visited {
  text-decoration: none;
  color: #000000;
}

.footerBottom {
  margin-top: 38px;
  background-color: #71ae3b;
  padding: 12px 14px;
  color: #ffffff;
}

.footerBottom .footerKartoflex {
  font-weight: 600;
  font-size: 12px;
}

.footerBottom .footerKartoflex p {
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.footerBottom .footerKartoflex a, .footerBottom .footerKartoflex a:visited {
  color: #ffffff;
  text-decoration: none;
}

.footerBottom .footerKartoflex a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footerBottomNavigation .bull {
  margin: 0 5px;
}

.footerBottomNavigation a, .footerBottomNavigationa:hover {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 11px;
}

.footerBottomNavigation a:visited {
  text-decoration: underline;
}

.frombuildthanks {
  color: #71ae3b;
  padding: 5px 10px 5px 10px;
  font-size: 11px;
  font-weight: 300;
  background-color: #dff0d8;
  margin: 0 27px 0 37px;
}

/*# sourceMappingURL=all.css.map */
