.carrouselBlock,.topHeaderHolder,.topHeader,.navigationBlock,.breadcrumbs,.sidebar,.footerNavigation,.footerBottomNavigation,.relatedPages,.filterHolder,.paginationHolder,.quip-pagination,.post-form{
	display:none;
}
@page :left {
	margin: 0.5cm;
}

@page :right {
	margin: 0.8cm;
}

body,p,h1,h2,h3,h4,h5,h6,li {
	font: 12pt Georgia, "Times New Roman", Times, serif;
	line-height: 1.3;
}
.contentBlock{
	width: 100%;
}
h1 {
	font-size: 24pt;
}

h2 {
	font-size: 18pt;
	margin-top: 25px;
}

h3 {
	font-size: 14pt;
}

img {
	max-width: 500px;
}
.logo{
 	float: none;
 	display:block;
 	height: 120px;
 	width:100%;	
}
footer{
	width: auto;
}
.footerBottom{
	 margin-top: 0px;
}
blockquote, ul {
	margin: 0;
}

li {
	content: "» ";
}
header:before {
	display: block;
	content: "Thank you for printing content from www.ecma.org";
	margin-bottom: 10px;
	border: 1px solid #bbb;
	padding: 3px 5px;
	font-style: italic;
}
img {
	border: 0;
}


a {
	color: #000;
}
a[href^="#"]:after {
	display: none;
}